<span class="rating">
    <span class="stars stars{{rating}}">
        <div alt="1 star" class="starsArea left starsArea1" title="I hate it">&#160;</div>
        <div alt="2 stars" class="starsArea left starsArea2" title="I don't like it">&#160;</div>
        <div alt="3 stars" class="starsArea left starsArea3" title="Its OK">&#160;</div>
        <div alt="4 stars" class="starsArea left starsArea4" title="I like it">&#160;</div>
        <div alt="5 stars" class="starsArea left starsArea5" title="I love it">&#160;</div>
    </span>
</span>